<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.digicard.com.digicard_customer">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoggedInActivity"></activity>
        <activity android:name=".QrScanner"></activity>
        <activity android:name=".PinActivity"></activity>
        <activity android:name=".TransactionSucessful"></activity>
        <activity android:name=".DialogList"
            android:theme="@style/Theme.AppCompat.Dialog">

        </activity>
    </application>

</manifest>